<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="jumbotron jumbotron-fluid" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <h3 class="display-4">Análisis y enriquecimiento de información</h3>
        <p class="lead">Utilizar herramientas de enriquecimiento semántico para el procesamiento de información no estructurada</p>
        <span class="text-muted">Grupo 10: Diego Fernando Escobar Trujillo - Lucy Jacquelin Morales Diaz - Alejandro Mazuera Rozo</span>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" style="margin-top: 20px;">

  <div class="row">

    <div class="col-4">
      <h2 style="text-align: center">Music Fans Exchange Questions</h2>
      <div style="height: 900px; overflow: auto">
        <div id="accordion" role="tablist">

          <div *ngFor="let question of rssQuestions" class="card bg-light" style="margin-bottom: 15px">
            <div class="card-header" role="tab" [attr.id]="question._id">
              <h5 class="mb-0">
                <span aria-expanded="false" [attr.aria-controls]="question._id">{{question.title}}</span>
              </h5>
            </div>
            <div [attr.id]="question._id" class="collapse show" role="tabpanel" [attr.aria-labelledby]="question._id" data-parent="#accordion">

              <div class="card-body">
                <h4 class="card-title">Description</h4>
                <p class="card-text" [innerHTML]="transform(question.description)"> </p>
              </div>

              <a>
              <button type="button" class="btn btn-success btn-lg"  style="margin: 5px; width: 99%;" (click)="getEnrichment(question._id)">Semantic Enrichment</button>
              </a>

              <a [attr.href]="question.link">
              <button type="button" class="btn btn-success btn-lg"  style="margin: 5px; width: 99%;">See more in Music Fans Web Page</button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-8">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of markersByID;" [openInfoWindow]=true [latitude]="m.latitude" [longitude]="m.longitude" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">
          <agm-info-window #infoWindow>
            <strong><b>{{m.description}}: </b></strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" *ngIf="entitiesByID.length >0">
          <a class="nav-link active" id="entities-tab" data-toggle="tab" href="#entities" role="tab" aria-controls="home" aria-selected="true">Entities</a>
        </li>
        <li class="nav-item" *ngIf="answersById.length >0">
          <a class="nav-link" id="answer-tab" data-toggle="tab" href="#answer" role="tab" aria-controls="home" aria-selected="false">Answers</a>
        </li>
        <li class="nav-item" *ngIf="markersByID.length >0">
          <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="home" aria-selected="false">Locations</a>
        </li>

        <li class="nav-item" *ngIf="tracksByID.length >0">
          <a class="nav-link" id="spotify-tab" data-toggle="tab" href="#spotify" role="tab" aria-controls="home" aria-selected="false">Multimedia</a>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">

        <!-- TAB PARA LAS ENTIDADES -->
        <div class="tab-pane fade show active" id="entities" role="tabpanel" aria-labelledby="entities-tab">

          <div *ngFor="let entity of entitiesByID" style="margin-bottom: 15px">
            <div *ngIf="entity.entities_persons.length >0" class="card border-secondary mb-3 bg-light">
              <div class="card-header">People</div>
              <div class="card-body text-secondary">
                <p *ngFor="let person of entity.entities_persons" class="card-text">{{person}}</p>
              </div>
            </div>

            <div *ngIf="entity.entities_locations.length >0" class="card border-secondary mb-3 bg-light">
              <div class="card-header">Locations</div>
              <div class="card-body text-secondary">
                <p *ngFor="let place of entity.entities_locations" class="card-text">{{place}}</p>
              </div>
            </div>

            <div *ngIf="entity.entities_organizations.length >0" class="card border-secondary mb-3 bg-light">
              <div class="card-header">Organizations</div>
              <div class="card-body text-secondary">
                <p *ngFor="let org of entity.entities_organizations" class="card-text">{{org}}</p>
              </div>
            </div>

            <div *ngIf="entity.categories.length >0" class="card border-secondary mb-3 bg-light">
              <div class="card-header">Categories</div>
              <div class="card-body text-secondary">
                <p *ngFor="let category of entity.categories" class="card-text">{{category}}</p>
              </div>
            </div>


          </div>

        </div>

        <!-- TAB PARA LAS RESPUESTAS -->
        <div class="tab-pane fade" id="answer" role="tabpanel" aria-labelledby="answer-tab">
          <div style="height: 900px; overflow: auto">
            <div id="accordion" role="tablist">

              <div *ngFor="let question of answersById" class="card bg-light" style="margin-bottom: 15px; margin-top: 5px">
                <div class="card-header" role="tab" [attr.id]="question._id">
                  <h5 class="mb-0">
                    <span aria-expanded="false" [attr.aria-controls]="question._id">{{question.title}}</span>
                  </h5>
                </div>
                <div [attr.id]="question._id" class="collapse show" role="tabpanel" [attr.aria-labelledby]="question._id" data-parent="#accordion">

                  <div class="card-body">
                    <h4 class="card-title">Description</h4>
                    <p class="card-text" [innerHTML]="transform(question.description)"> </p>

                    <div *ngIf="question.entities_persons.length >0" class="card border-secondary mb-3 bg-light" style="margin: 5px;">
                      <div class="card-header">People</div>
                      <div class="card-body text-secondary">
                        <p *ngFor="let person of question.entities_persons" class="card-text">{{person}}</p>
                      </div>
                    </div>

                    <div *ngIf="question.entities_locations.length >0" class="card border-secondary mb-3 bg-light" style="margin: 5px;">
                      <div class="card-header">Locations</div>
                      <div class="card-body text-secondary">
                        <p *ngFor="let place of question.entities_locations" class="card-text">{{place}}</p>
                      </div>
                    </div>

                    <div *ngIf="question.entities_organizations.length >0" class="card border-secondary mb-3 bg-light" style="margin: 5px;">
                      <div class="card-header">Organizations</div>
                      <div class="card-body text-secondary">
                        <p *ngFor="let org of question.entities_organizations" class="card-text">{{org}}</p>
                      </div>
                    </div>

                    <div *ngIf="question.categories.length >0" class="card border-secondary mb-3 bg-light" style="margin: 5px;">
                      <div class="card-header">Categorías</div>
                      <div class="card-body text-secondary">
                        <p *ngFor="let category of question.categories" class="card-text">{{category}}</p>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>

        </div>

        <!-- TAB PARA EL MAPA (PRIMER PUNTO) -->
        <div *ngIf="markersByID.length >0" class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
          <div *ngFor="let m of markersByID;" class="card border-secondary mb-3 bg-light" style="margin: 5px;">
            <div class="card-header">{{m.name}}</div>
            <div class="card-body text-secondary">
              <p class="card-text"><strong>Address: </strong>{{m.description}}</p>
              <p class="card-text"><strong>Latitude: </strong>{{m.latitude}}</p>
              <p class="card-text"><strong>Longitude: </strong>{{m.longitude}}</p>
            </div>
          </div>
        </div>

        <!-- TAB PARA SPOTIFY (SEXTO PUNTO)-->
        <div *ngIf="tracksByID.length >0" class="tab-pane fade" id="spotify" role="tabpanel" aria-labelledby="spotify-tab">
          <div style="height: 580px; overflow: auto">
            <div *ngFor="let t of tracksByID;" class="card border-secondary mb-3 bg-light" style="margin: 5px;">
              <div class="card-header">{{t.artist}}</div>
              <div class="card-body text-secondary">

                <div class="row card-group">
                  <div class="col-3" *ngFor="let track of t.tracks;">
                    <div class="card border-secondary mb-3 bg-light" style="margin: 5px; height: 670px;">
                      <div class="card-body text-secondary">
                        <p class="card-text"><strong>Album Name: </strong>{{track.album_name}}</p>
                        <p class="card-text"><strong>Song Name: </strong>{{track.name}}</p>
                        <iframe [src]="getUriTrack(track.uri) | safe" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
                        <a [attr.href]="getUrlOpenAlbum(track.album_uri)">
                         <button type="button" class="btn btn-success btn-lg"  style="margin: 5px; width: 99%;">Album on Spotify</button>
                        </a>
                        <a [attr.href]="getYoutubeUrlOpenAlbum(track.name, track.artist_found_name)">
                         <button type="button" class="btn btn-danger btn-lg"  style="margin: 5px; width: 99%;">Watch on YouTube</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <!-- 
  <iframe src="https://embed.spotify.com/?uri=spotify:track:3L5JCkhuFHTJfq3ItzKg3H" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  
  <iframe src="https://open.spotify.com/embed/artist/6HqPNOo6OV9rPbEY7MP9T8" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>  

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      </agm-map>
-->